* {
  font-family: Arial, monospace;
  font-size: 40px;
  font-weight: lighter;
  width: 400px;
  height: 100px;
}

.screen {
  display: flex;
  justify-content: flex-end;
  color: white;
  background-color: black;
  font-size: 75px;
  width: 390px;
  padding-right: 10px;
}

button {
  background-color: #d8d9db;
  color: black;
  width: 24.5%;
  cursor:pointer;
  border: 1px black solid;
}

button:hover {
  background-color: #ebebeb;
}

button:active {
  background-color: #bbbcbe;
}

button:last-child {
  background-color: #df974c;
  color: white;
}

button:last-child:hover {
  background-color: #dfb07e;
}

button:last-child:active {
  background-color: #dd8d37;
}

.top-row {
  display: flex;
  box-sizing: border-box;
  justify-content: space-between;
  margin-bottom: .5%;
}

.second-row {
  display: flex;
  box-sizing: border-box;
  justify-content: space-between;
  margin-bottom: .5%;
}

.third-row {
  display: flex;
  box-sizing: border-box;
  justify-content: space-between;
  margin-bottom: .5%;
}

.forth-row {
  display: flex;
  box-sizing: border-box;
  justify-content: space-between;
  margin-bottom: .5%;
}

.bottom-row {
  display: flex;
  box-sizing: border-box;
  justify-content: space-between;
}

.clear {
  width: 49.8%;
}

.zero {
  width: 74.8%;
}



